<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="isOpen| async">
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
        {{isOpen | async}}
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>
<app-loader></app-loader>